{{! template-lint-disable no-inline-styles }}
<div id="keyboard" class="overflow-x-auto keyboard-holder" style={{ this.octaveWidth }}>
  {{#each this.data as |key|}}
    <KeyboardKey
    @hotkey=""
    @octave={{ key.octave }}
    @note={{ key.note }}
    class={{ key.class }}
    style={{ key.style }}
    />
  {{/each}}
</div>
