<div
  {{on "mouseup" (fn this.midiController.stopNote @info ) }}
  {{on "mouseout" (fn this.midiController.stopNote @info ) }}

  {{on "mousedown" (fn this.midiController.playNote @info ) }}
  {{!-- {{on "mouseover" (fn this.midiController.playNote @info ) }} --}}

mouseover
  class= "{{if @pressed 'bg-blue-500'}}"
   ...attributes>
  <div class="label"><b>{{@hotkey}}</b>
      <br>
      <br>{{@note}}<span name="OCTAVE_LABEL" value="-1">{{@octave}}</span></div>
  </div>