<div
  {{on "mouseup" (fn this.keyup this.noteInfo ) }}
  {{on "mouseout" (fn this.keyup this.noteInfo ) }}
  {{on "mousedown" (fn this.keydown this.noteInfo ) }}
  {{on "touchend" (fn this.keyup this.noteInfo ) }}
  {{on "touchmove" (fn this.keyup this.noteInfo ) }}
  {{on "touchstart" (fn this.keydown this.noteInfo ) }}

  class= {{if this.notePressed "bg-blue-500"}}
  ...attributes>
  <div class="label">
    <b>{{@hotkey}}</b>
    <br>
    <br>{{@note}}<span>{{@octave}}</span>
  </div>
</div>