status: {{#if @status }} Activated {{else}} Disabled{{/if}}
<div class="flex">

  {{#if @status }}
    <button {{action "submitRefresh" }}> Refresh  </button>
  {{else}}
    <button {{action "submitEnable" }}> Enable </button>
  {{/if}}

  <button {{action "submitDisable" }}> Disable</button>
</div>