<h1>{{ @type }}</h1>
<p> Current {{@type}}: {{ @selected }} </p>

<select {{on "change" @onSelect}}>
  <option value="" selected disabled hidden>Choose here</option>
  {{#each @list as |input|}}
    <option value={{input.name}}>{{input.name}}</option>
  {{/each}}
</select>