<div class="ember-view">
  Chord Practice
  <MidiSwitch
  @onDisable={{action "disableMidi"}}
  @onEnable={{action "enableMidi"}}
  @status={{this.isEnabled}}
  />

  {{#if isEnabled}}
    <MidiInput
    @type="Midi Input"
    @onSelect={{action "updateSelectedInput" }}
    @selected={{ this.selectedInput }}
    @list={{this.inputs}}/>

    {{#if input}}
      <button {{action "listen"}}>Listen</button>
    {{/if}}



    <MidiInput
    @type="Midi Output"
    @onSelect={{action "updateSelectedOutput" }}
    @selected={{ this.selectedOutput }}
    @list={{this.outputs}}/>

    {{#if output}}
      <button {{action "playNote"}}>Play Note</button>
    {{/if}}
    <hr>

    <SustainIndicator @status={{this.sustain}}/>
    Known Chords: {{ this.knownChord }}
    <h1>Played Notes</h1>
    <ul>
      {{#each this.currentNotes as |note|}}
        <li> {{ note.name }}</li>
      {{/each}}
    </ul>

    <!-- <StaveViewer @notes={{this.currentNotes}}/> -->

  {{/if}}

  <Keyboard @numberOfOctaves=2 @startingOctave=4/>

</div>
