<div class="flex flex-col justify-between h-screen">
  <header class='flex border border-b '>
    <MidiSwitch
    @onDisable={{action this.midiController.disableMidi }}
    @onEnable={{action this.midiController.enableMidi}}
    @status={{this.midiController.isEnabled}}
    />
    {{#if this.midiController.isEnabled}}
      <MidiInput
      @type="Midi Input"
      @onSelect={{this.midiController.updateSelectedInput}}
      @selected={{this.midiController.selectedInput }}
      @list={{this.midiController.inputs}}/>
    {{/if}}
  </header>
  {{ outlet }}
</div>
