<div class="flex flex-col justify-between h-screen">
  <header class="flex border border-b flex-col md:flex-row">
    <div class="h-14 mr-4">
      <MidiSwitch
      @onDisable={{action this.midiController.disableMidi }}
      @onEnable={{action this.midiController.enableMidi}}
      @status={{this.midiController.isEnabled}}
      />
    </div>
    <div class="w-full flex flex-col md:flex-row">
      {{#if this.midiController.isEnabled}}
      <MidiInput
      @type="Midi Input"
      @onSelect={{this.midiController.updateSelectedInput}}
      @selected={{this.midiController.selectedInput }}
      @list={{this.midiController.inputs}}/>

      <MidiInput
      @type="Midi Output"
      @onSelect={{this.midiController.updateSelectedOutput}}
      @selected={{this.midiController.selectedOutput }}
      @list={{this.midiController.outputs}}/>

      {{/if}}
    </div>
  </header>
  {{ outlet }}
</div>
